@import "../../index.scss";
.logo {
  width: 8%;
  height: 8%;
}

.Navbar {
  background: $MainBlack;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5rem;
  justify-content: center;
}
.nav__link {
  text-decoration: none;
  color: $MianWhite;
  padding-right: 5rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 688px) {
  .logo {
    width: 28%;
    height: 28%;
    margin-top: 2rem;
  }
  .nav__links {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
  }
}
